
h1 {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 35px;
  font-weight: bold;
}

h1:hover {
  background-color: #00FF00
}

div.relative {
  position: relative;
  width: 850px;
  height: 450px;
}

div.absolute {
  position: absolute;
  top: 150px;
  right: 0;
  width: auto;
  height: auto;
}

.p-idezet {
  font-style: italic;
  color: #FF4500;
}

.p-idezet:hover {
  border: 1px;
  border-color: red;
  border-style: double;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.list-button {
  background-color: #FFD700;
  border: 1px solid;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-style: oblique;
  font-weight: bold;
}

.list-button:hover {
  background-color: #DAA520;
}

.new-button {
  background-color: #00FF00;
  border: 1px solid;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-style: oblique;
  font-weight: bold;
}

.new-button:hover {
  background-color: #32CD32;
}
